a(href="http://www.google.com" title="google") Google
|
|
- const name = 'Felix';
- const time = new Date();
div
  p The time is #{time.toLocaleString()}
  p Hi #{span= name}!
|
|
- function foo () { return 1; }
p(title=foo()) hey
|
|
- const friends = 10;
case friends
  when 0
    p you have no friends.
  when 1
    p you have one friend.
  default
    p you have #{friends} friends.
|
|
-
  const a = [1, 2, 3];
  const b = [4, 5, 6];

- for (let i = 0; i < a.length; i++)
  li= a[i]
